h1 img {
  max-height: 4rem;
}

.icon {
  max-height: 4rem;
  border-radius: 50%;
}

.icons {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
}

.full-page {
  min-height: 65vh;
}

.heading {
  margin: 3rem 0 5rem;
}
