.nav-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  /* box-sizing: border-box; */
}

.nav-button:focus {
  outline: none;
}

.nav-button-line {
  width: 30px;
  height: 3px;
  background-color: white;
}

@media (min-width: 768px) {
  .nav-button {
    display: none;
  }
}
