.App {
  text-align: center;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

a:active, a:hover {
  color: black;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

nav {
  display: flex;
  align-items: center;
  min-height: 10vh;
  background: #FC9F1C;
  color: white;
  padding: 0 2rem;
  justify-content: space-between;
}

p {
  font-family: 'Roboto Slab', serif;
}

.bye-phrase {
  font-weight: 200;
}

.center-image {
  margin: auto;
}

.center-text {
  margin: auto;
}

.container {
  padding: 0 3%;
}

.full-page-home {
  min-height: 85vh;
}

.home-heading {
  padding-bottom: 1rem;
}

.home-opening {
  padding: 3rem 0 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.home-opening .image {
  width: 200px;
  border-radius: 50%;
  margin-right: 10%;
  /* transform: scaleX(-1); */
  /* filter: grayscale(100%); */
}

.nav-home, .nav-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin: auto;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0 25px 0 0;
  padding: 0;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}
